Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [11]:
# String
my_string = "Hello, world!"

# List
my_list = [1, 2, 3, 4, 5]

# Float
my_float = 3.14

# Tuple
my_tuple = (10, 20, 30, 40, 50)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

``Answer :- ``


(i)`var1 = '' ` 

- this variable `var1` containa single character 

(ii)`var2 '[DS,ML,Python]'`

- this variable `var2` contains string and square bracket

(iii)`var3 ['DS','ML','Python']`

- this variable `var3` contains list of string

(iv)`var4 = 1`

- this variable `var4` contains integer value

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

(i)`/` (Division operator)
- 10/2 = 5

(ii)`%` (Modulo operator)
- 10%3 = 1

(iii)`//` (Floor division operator)
- 10//3 = 3

(iv)`**` (Exponentiation operator)
- 2**3 = 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [5]:
my_list = [10, 3.14, "Hello", True, [1, 2, 3], {'a': 1, 'b': 2}, (4, 5), None, False, {"name": "John", "age": 30}]

for item in my_list:
    print(item, type(item))

10 <class 'int'>
3.14 <class 'float'>
Hello <class 'str'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'a': 1, 'b': 2} <class 'dict'>
(4, 5) <class 'tuple'>
None <class 'NoneType'>
False <class 'bool'>
{'name': 'John', 'age': 30} <class 'dict'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0

# Checking if A is purely divisible by BQ6.
while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"{A} was divisible by {B} {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter number A:  10
Enter number B:  2

5.0 was divisible by 2 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [14]:
my_list2=[12,45,67,89,23,67,80,78,23,56,78,89,90,54,34,56,78,89,10,97,89,764,9,8,56]

In [21]:
for n in my_list2:
    if n %3 ==0:
        print(f"{n} is division by 3")
    else:
        print(f"{n} is not dividion by 3")

12 is division by 3
45 is division by 3
67 is not dividion by 3
89 is not dividion by 3
23 is not dividion by 3
67 is not dividion by 3
80 is not dividion by 3
78 is division by 3
23 is not dividion by 3
56 is not dividion by 3
78 is division by 3
89 is not dividion by 3
90 is division by 3
54 is division by 3
34 is not dividion by 3
56 is not dividion by 3
78 is division by 3
89 is not dividion by 3
10 is not dividion by 3
97 is not dividion by 3
89 is not dividion by 3
764 is not dividion by 3
9 is division by 3
8 is not dividion by 3
56 is not dividion by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

- `Mutable data types:` Objects whose value can be changed after creation are called mutable. This means that you can modify the object's state, such as adding or removing elements, without changing its identity.

- `Immutable data types:` Objects whose value cannot be changed after creation are called immutable. Once created, the value of an immutable object cannot be modified. If you need to change the value, a new object must be created.

In [24]:
# `list is mutable data type`
my_list =[1,34,78]
my_list[0] = 10
my_list

[10, 34, 78]

In [29]:
# Dictionaries is mutable data type
dis ={1:'DS',2:'ML'}
dis[1] = 'AI'
dis

{1: 'AI', 2: 'ML'}

In [35]:
#tuple is inmutable data type
t = (1,2,3)
t
t[0] = 2

TypeError: 'tuple' object does not support item assignment